/*Define the fonts*/
@font-face {
    font-family: 'Uniform Condensed Regular';
    src: url('../fonts/uniform_condensed-webfont.woff2') format('woff2'), url('../fonts/uniform_condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniformCondensedRegular-Regular';
    src: url('../fonts/uniform_condensed-webfont.woff2') format('woff2'), url('../fonts/uniform_condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hansief Regular';
    src: url('../fonts/hansief-webfont.woff2') format('woff2'), url('../fonts/hansief-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background: #fff;
    color: #808080;
    font-size: 16px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.skill-tree-wrapper {
    max-width: 1000px;
    margin: auto;
}

.cls-16, .cls-11 {
    fill: #fff;
    cursor: pointer;
    transition: fill 160ms ease-in-out;
}

.cls-16:hover, .cls-11:hover {
    fill: #03A9F4;
}

.left-wrapper, .right-wrapper {
    shape-outside: polygon(32px 75px, 0.8px 37.9px, 32.0px 0.6px, 34px 0.6px, 2.8px 37.9px, 34.0px 75.3px, 32.0px 75.3px);
    width: 33px;
    height: 75px;
    float: left;
    opacity: 0;
}

.right-wrapper {
    float: right;
    shape-outside: polygon(1.300px 75.300px, 32.500px 37.900px, 1.300px 0.600px, 3.300px 0.600px, 34.500px 37.900px, 3.300px 75.300px, 1.300px 75.300px);
    /* position: relative; */
    /* top: -76px; */
    width: 26px;
}

foreignObject {
    /* fill: red; */
    width: 125px;
    height: 74px;
}

.textbox-wrapper {
    width: 117px;
    height: 74px;
    /* overflow: hidden; */
    text-align: center;
    text-overflow: ellipsis;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #1e1e1e;
    word-wrap: break-word;
    max-width: 125px;
    max-height: 74px;
    user-select: none;
}

.textbox-inner {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    font-family: 'Uniform Condensed Regular';
    word-break: keep-all;
    hyphens: auto;
    height: calc(100% - 5px);
    width: calc(100% + 9px);
    white-space: pre-line;
    margin-top: 3px;
}


.textbox-inner * {
    text-align: center;
    word-break: break-all;
}


.textbox-wrapper.draggable-mirror {
    overflow: hidden;
    /* background-color: red; */
    background-image: url('../img/hexagonal.svg');
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: 19px 1px !important;
    transform-style: flat;
    overflow: hidden;
    height: 87px !important;
    width: 123px !important;
    opacity: 0.8;
}

.draggable-mirror .textbox-inner {
}

.draggable-mirror .right-wrapper {
}

.draggable-mirror .left-wrapper {}

.textbox-inner-edit-title {
    font-size: 21px;
}

.textbox-inner-edit {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: -5px -9px;
    padding: 10px;
}

.textbox-inner-edit-text {
    /* height: 100px; */
    text-align: center;
    width: 140px;
    margin-bottom: 10px;
    resize: none;
    overflow: hidden;
}

text {
    fill: rgb(30, 30, 30);
    font-family: 'Uniform Condensed Regular';
    font-size:12px;
}

tspan {
    /* x: 50px; */
}