
/*Define the fonts*/
@font-face {
    font-family: 'Uniform Condensed Regular';
    src: url('../fonts/uniform_condensed-webfont.woff2') format('woff2'),
         url('../fonts/uniform_condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Hansief Regular';
    src: url('../fonts/hansief-webfont.woff2') format('woff2'),
         url('../fonts/hansief-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



html,
body {
	background: #fff;
	color: #808080;
	font-size: 16px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	height: auto;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}